<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>EZDB</title>
</head>
<body>
    <h1>EZDB</h1>
    <div class="container">
        <div class="left-panel">
            <h2><span class="highlight">O</span>peration</h2>
            <form method="POST" action="{{ url_for('connect_db') }}">
                <label>CONNECT</label>

                <select id="connection_mode" name="connection_mode" onchange="toggleInputMode()">
                    <option value="url">URL</option>
                    <option value="custom">Custom</option>
                </select>

                <div id="urlInputGroup">
                    <input type="text" id="dbURLInput" name="dbURLInput" placeholder="DB URL">
                </div>
                
                <div id="customInputGroup">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="text" name="host" placeholder="Host">
                    <input type="text" name="port" placeholder="Port">
                    <input type="text" name="database" placeholder="Database">
                </div>
                <button type="submit">Connect</button>
            </form>
            
            <form class="dispose_form" method="POST" action="{{ url_for('dispose_db') }}">
                <label class="dispose_label" >DISPOSE</label>
                <button type="submit">Dispose</button>
            </form>

            <form method="POST" action="{{ url_for('create_table') }}">
                <label>CREATE</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Tbl">
                <div id="columns">
                    <div class="column">
                        <input type="text" name="columnNameInput" placeholder="Col">
                        <select name="columnTypeInput">
                            <option value="INT">Int</option>
                            <option value="FLOAT">Float</option>
                            <option value="CHAR(3)">CHAR(3)</option>
                            <option value="VARCHAR(255)">Varchar(255)</option>
                            <option value="TEXT">Text</option>
                            <option value="DATE">Date</option>
                            <option value="DATETIME">DateTime</option>
                            <option value="TINYINT(1)">Boolean</option>
                        </select>
                        <div class="constraints">
                            <input type="checkbox" id="not-null-0" name="columnConstraintsInput[0]" value="NOT NULL">
                            <label for="not-null-0" class="checkbox-label">NOT NULL</label>

                            <input type="checkbox" id="null-0" name="columnConstraintsInput[0]" value="NULL">
                            <label for="null-0" class="checkbox-label">NULL</label>

                            <input type="checkbox" id="default-0" name="columnConstraintsInput[0]" value="DEFAULT">
                            <label for="default-0" class="checkbox-label">DEFAULT</label>
                            <input type="text" name="defaultValueInput[0]" placeholder="Def Val">

                            <input type="checkbox" id="unique-0" name="columnConstraintsInput[0]" value="UNIQUE">
                            <label for="unique-0" class="checkbox-label">UNIQUE</label>

                            <input type="checkbox" id="primary-key-0" name="columnConstraintsInput[0]" value="PRIMARY KEY">
                            <label for="primary-key-0" class="checkbox-label">PRIMARY KEY</label>

                            <input type="checkbox" id="auto-increment-0" name="columnConstraintsInput[0]" value="AUTO_INCREMENT">
                            <label for="auto-increment-0" class="checkbox-label">AUTO_INCREMENT</label>

                            <input type="checkbox" id="foreign-key-0" name="columnConstraintsInput[0]" value="FOREIGN KEY">
                            <label for="foreign-key-0" class="checkbox-label">FOREIGN KEY</label>
                            <input type="text" name="foreignTableInput[0]" placeholder="Ref Tbl">
                            <input type="text" name="foreignColumnInput[0]" placeholder="Ref Col">

                            <input type="checkbox" id="check-0" name="columnConstraintsInput[0]" value="CHECK">
                            <label for="check-0" class="checkbox-label">CHECK</label>
                            <input type="text" name="checkValueInput[0]" placeholder="Cond">

                            <input type="checkbox" id="on-update-0" name="columnConstraintsInput[0]" value="ON UPDATE">
                            <label for="on-update-0" class="checkbox-label">ON UPDATE</label>
                            <input type="text" name="onUpdateValueInput[0]" placeholder="Upd Val">

                            <input type="checkbox" id="comment-0" name="columnConstraintsInput[0]" value="COMMENT">
                            <label for="comment-0" class="checkbox-label">COMMENT</label>
                            <input type="text" name="commentValueInput[0]" placeholder="Cmt">

                            <input type="checkbox" id="collation-0" name="columnConstraintsInput[0]" value="COLLATION">
                            <label for="collation-0" class="checkbox-label">COLLATION</label>
                            <select name="collationValueInput[0]">
                                <option value="utf8mb4_general_ci">utf8mb4_general_ci</option>
                                <option value="utf8mb4_unicode_ci">utf8mb4_unicode_ci</option>
                            </select>

                            <input type="checkbox" id="character-set-0" name="columnConstraintsInput[0]" value="CHARACTER SET">
                            <label for="character-set-0" class="checkbox-label">CHARACTER SET</label>
                            <select name="characterSetValueInput[0]">
                                <option value="utf8mb4">utf8mb4</option>
                                <option value="latin1">latin1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" onclick="addColumn()">Add Column</button>
                <button type="submit">Create Table</button>
            </form>
            
            <form method="POST" action="{{ url_for('drop_table') }}">
                <label>DROP</label>
                <input type="text" id="dropTableNameInput" name="dropTableNameInput" placeholder="Tbl">
                <button type="submit">Drop Table</button>
            </form>

            <form method="POST" action="{{ url_for('insert_data') }}">
                <label>INSERT</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Tbl">
                <div id="rows">
                    <div class="row">
                        <input type="text" name="columnNameInput" placeholder="Col">
                        <textarea name="columnValueInput" placeholder="Val e.g. a, b, c, d"></textarea>
                    </div>
                </div>
                <button type="button" onclick="addRow()">Add Row</button>
                <button type="submit">Insert Data</button>
            </form>

            <form method="POST" action="{{ url_for('update_data') }}">
                <label>UPDATE</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Tbl">
                <input type="text" id="conditionColInput" name="conditionColInput" placeholder="Cond Col">
                <input type="text" id="conditionValueInput" name="conditionValueInput" placeholder="Cond Col Val">
                <div id="dataUpdates">
                    <div class="dataUpdate">
                        <input type="text" name="targetColInput" placeholder="Tgt Col">
                        <input type="text" name="targetValueInput" placeholder="Tgt Col Val">
                    </div>
                </div>
                <button type="button" onclick="addTargetUpdate()">Add Target Data</button>
                <button type="submit">Update Data</button>
            </form>

            <form method="POST" action="{{ url_for('delete_data') }}">
                <label>DELETE</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Tbl">
                <div id="deleteConditions">
                    <div class="deleteCondition">
                        <input type="text" name="columnInput" placeholder="Col">
                        <select name="operatorInput">
                            <option value="=">=</option>
                            <option value="<"><</option>
                            <option value=">">></option>
                            <option value="<="><=</option>
                            <option value=">=">>=</option>
                            <option value="!=">!=</option>
                            <option value="LIKE">LIKE</option>
                            <option value="IN">IN</option>
                            <option value="NOT IN">NOT IN</option>
                            <option value="BETWEEN">BETWEEN</option>
                            <option value="IS NULL">IS NULL</option>
                            <option value="IS NOT NULL">IS NOT NULL</option>
                        </select>
                        <input type="text" name="valueInput" placeholder="Val">
                        <select name="logicalOperatorInput">
                            <option value="AND">AND</option>
                            <option value="OR">OR</option>
                        </select>
                    </div>
                </div>
                <button type="button" onclick="addCondition()">Add Condition</button>
                <button type="submit">Delete Data</button>
            </form>

            <form method="POST" action="{{ url_for('modify_table') }}">
                <label>MODIFY</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Tbl">
                <select name="commandInput">
                    <option value="ADD">ADD</option>
                    <option value="MODIFY">MODIFY</option>
                    <option value="DROP">DROP</option>
                    <option value="RENAME">RENAME</option>
                </select>
                <input type="text" name="columnNameInput" placeholder="Col">
                <select name="columnTypeInput">
                    <option value="INT">Int</option>
                    <option value="FLOAT">Float</option>
                    <option value="CHAR(3)">CHAR(3)</option>
                    <option value="VARCHAR(255)">Varchar(255)</option>
                    <option value="TEXT">Text</option>
                    <option value="DATE">Date</option>
                    <option value="DATETIME">DateTime</option>
                    <option value="TINYINT(1)">Boolean</option>
                </select>
                <input type="text" name="columnNewNameInput" placeholder="Ren Col">
                <button type="submit">Modify Table</button>
            </form>

            <form class="join-form" id="joinForm" method="POST" action="{{ url_for('join_table') }}">
                <label>JOIN</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Bs Tbl">

                <div id="join-tables">
                    <div class="join-table">
                        <select name="joinTypes">
                            <option value="INNER">INNER JOIN</option>
                            <option value="LEFT">LEFT JOIN</option>
                            <option value="RIGHT">RIGHT JOIN</option>
                            <option value="FULL">FULL JOIN</option>
                            <option value="CROSS">CROSS JOIN</option>
                            <option value="SELF">SELF JOIN</option>
                        </select>
                        <input type="text" name="joinTables" placeholder="Jn Tbl">
                        <input type="text" name="joinConditions" placeholder="Cond e.g. tbl1.col = tbl2.col">
                    </div>
                </div>
                <button type="button" onclick="addJoin()">Add JOIN</button>

                <div id="select-columns">
                    <div class="select-column">
                        <input type="text" name="selectColumns" placeholder="Col e.g. tbl1.col">
                    </div>
                </div>
                <button type="button" onclick="addSelectColumn()">Add Select Column</button>

                <div id="where-conditions">
                    <div class="where-condition">
                        <input type="text" name="whereConditions" placeholder="Cond e.g. tbl.col > 100">
                    </div>
                </div>
                <button type="button" onclick="addWhereCondition()">Add WHERE Conidtion</button>

                <button type="submit">Join Table</button>
            </form>

            <form class="sorting-form" id="sortingForm" method="POST" action="{{ url_for('sorting_table') }}">
                <label>SORTING</label>
                <input type="text" id="tableNameInput" name="tableNameInput" placeholder="Tbl">
                
                <div id="sorting-elements">
                    <div class="sorting-element">
                        <input type="text" name="orderColumnNameInput" placeholder="Ord Col">
                        <select name="sortingInput">
                            <option value="ASC">ASC</option>
                            <option value="DESC">DESC</option>
                        </select>
                    </div>
                </div>
                <button type="button" onclick="addSortingElementColumn()">Add Order Element</button>

                <div id="select-sorting-columns">
                    <div class="select-sorting-column">
                        <input type="text" name="selectColumnNameInput" placeholder="Sel Col">
                    </div>
                </div>
                <button type="button" onclick="addSelectSortingColumn()">Add Select Column</button>

                <button type="submit">Sort Table</button>
            </form>

            <form id="exportForm" method="POST" action="{{ url_for('export_table') }}">
                <label>EXPORT</label>
                <input type="text" id="exportTableNameInput" name="exportTableNameInput" placeholder="Tbl Exp">
                <button type="submit">Export to Excel</button>
            </form>

            <form method="POST" action="{{ url_for('import_excel') }}" enctype="multipart/form-data">
                <label>IMPORT</label>
                <input type="text" id="importTableNameInput" name="importTableNameInput" placeholder="Tbl Imp">
                <input type="file" id="importExcelFile" name="importExcelFile" accept=".xlsx, .xls, .csv">
                <button type="submit">Import Excel</button>
            </form>

            <form id="umlForm" method="POST" action="{{ url_for('generate_uml') }}">
                <label>ERD</label>
                <input type="text" id="umlTableNameInput" name="umlTableNameInput" placeholder="Table Name">
                <button type="submit">Generate ERD</button>
            </form>                  
        </div>
        <div class="right-panel">
            <div id="db-info">
                <h2><span class="highlight">S</span>chema</h2>
                <div id="db-status"></div>
                <div id="query-display">
                    <p id="query-text">Hello, EZDB!</p>
                </div>
                <div id="uml-display">
                    <p id="uml-text">ERD...</p>
                </div>
                <div id="message"></div>
                <div id="table-list"></div>
                <div id="table-data"></div>
                <div id="join-output"></div>
                <div id="sorting-output"></div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            toggleInputMode();
        });

        function toggleInputMode() {
            const mode = document.getElementById("connection_mode").value;
            const urlInputGroup = document.getElementById("urlInputGroup");
            const customInputGroup = document.getElementById("customInputGroup");

            if (mode === "url") {
            urlInputGroup.style.display = "block";
            customInputGroup.style.display = "none";
            urlInputGroup.querySelectorAll("input").forEach(input => input.disabled = false);
            customInputGroup.querySelectorAll("input").forEach(input => input.disabled = true);

            } else if (mode === "custom") {
            urlInputGroup.style.display = "none";
            customInputGroup.style.display = "block";
            urlInputGroup.querySelectorAll("input").forEach(input => input.disabled = true);
            customInputGroup.querySelectorAll("input").forEach(input => input.disabled = false);
            }
        }

        function addJoin() {
            const joinTableDiv = document.createElement("div");
            joinTableDiv.classList.add("join-table");
            joinTableDiv.innerHTML = `
                <select name="joinTypes">
                    <option value="INNER">INNER JOIN</option>
                    <option value="LEFT">LEFT JOIN</option>
                    <option value="RIGHT">RIGHT JOIN</option>
                    <option value="FULL">FULL JOIN</option>
                    <option value="CROSS">CROSS JOIN</option>
                    <option value="SELF">SELF JOIN</option>
                </select>
                <input type="text" name="joinTables" placeholder="Jn Tbl">
                <input type="text" name="joinConditions" placeholder="Cond e.g. tbl1.col = tbl2.col">
                <button type="button" onclick="deleteJoinTable(this)">Delete</button>
            `;
            document.getElementById("join-tables").appendChild(joinTableDiv);
        }

        function deleteJoinTable(button) {
            const joinTableDiv = button.parentElement;
            joinTableDiv.remove();
        }

        function addSelectColumn() {
            const selectColumnDiv = document.createElement("div");
            selectColumnDiv.classList.add("select-column");
            selectColumnDiv.innerHTML = `
                <input type="text" name="selectColumns" placeholder="Col e.g. tbl.col">
                <button type="button" onclick="deleteSelectColumn(this)">Delete</button>
            `;
            document.getElementById("select-columns").appendChild(selectColumnDiv);
        }

        function deleteSelectColumn(button) {
            const selectColumnDiv = button.parentElement;
            selectColumnDiv.remove();
        }

        function addWhereCondition() {
            const joinWhereConditionDiv = document.createElement("div");
            joinWhereConditionDiv.classList.add("where-condition");
            joinWhereConditionDiv.innerHTML = `
                <input type="text" name="whereConditions" placeholder="Cond e.g. tbl.col > 100">
                <button type="button" onclick="deleteJoinWhereCondition(this)">Delete</button>
            `;
            document.getElementById("where-conditions").appendChild(joinWhereConditionDiv);
        }

        function deleteJoinWhereCondition(button) {
            const joinWhereConditionDiv = button.parentElement;
            joinWhereConditionDiv.remove();
        }

        function addColumn() {
            const columnDiv = document.createElement("div");
            columnDiv.classList.add("column");
            const elements = document.getElementsByClassName("column"); 
            const columnIndex = elements.length;
            columnDiv.innerHTML = `
                <input type="text" name="columnNameInput" placeholder="Col">
                <select name="columnTypeInput">
                    <option value="INT">Int</option>
                    <option value="FLOAT">Float</option>
                    <option value="CHAR(3)">CHAR(3)</option>
                    <option value="VARCHAR(255)">Varchar(255)</option>
                    <option value="TEXT">Text</option>
                    <option value="DATE">Date</option>
                    <option value="DATETIME">DateTime</option>
                    <option value="TINYINT(1)">Boolean</option>
                </select>
                <div class="constraints">
                    <input type="checkbox" id="not-null-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="NOT NULL">
                    <label for="not-null-${columnIndex}" class="checkbox-label">NOT NULL</label>

                    <input type="checkbox" id="null-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="NULL">
                    <label for="null-${columnIndex}" class="checkbox-label">NULL</label>

                    <input type="checkbox" id="default-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="DEFAULT">
                    <label for="default-${columnIndex}" class="checkbox-label">DEFAULT</label>
                    <input type="text" name="defaultValueInput[${columnIndex}]" placeholder="Def Val">

                    <input type="checkbox" id="unique-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="UNIQUE">
                    <label for="unique-${columnIndex}" class="checkbox-label">UNIQUE</label>

                    <input type="checkbox" id="primary-key-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="PRIMARY KEY">
                    <label for="primary-key-${columnIndex}" class="checkbox-label">PRIMARY KEY</label>

                    <input type="checkbox" id="auto-increment-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="AUTO_INCREMENT">
                    <label for="auto-increment-${columnIndex}" class="checkbox-label">AUTO_INCREMENT</label>

                    <input type="checkbox" id="foreign-key-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="FOREIGN KEY">
                    <label for="foreign-key-${columnIndex}" class="checkbox-label">FOREIGN KEY</label>
                    <input type="text" name="foreignTableInput[${columnIndex}]" placeholder="Ref Tbl">
                    <input type="text" name="foreignColumnInput[${columnIndex}]" placeholder="Ref Col">

                    <input type="checkbox" id="check-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="CHECK">
                    <label for="check-${columnIndex}" class="checkbox-label">CHECK</label>
                    <input type="text" name="checkValueInput[${columnIndex}]" placeholder="Cond">

                    <input type="checkbox" id="on-update-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="ON UPDATE">
                    <label for="on-update-${columnIndex}" class="checkbox-label">ON UPDATE</label>
                    <input type="text" name="onUpdateValueInput[${columnIndex}]" placeholder="Upd Val">

                    <input type="checkbox" id="comment-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="COMMENT">
                    <label for="comment-${columnIndex}" class="checkbox-label">COMMENT</label>
                    <input type="text" name="commentValueInput[${columnIndex}]" placeholder="Cmt">

                    <input type="checkbox" id="collation-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="COLLATION">
                    <label for="collation-${columnIndex}" class="checkbox-label">COLLATION</label>
                    <select name="collationValueInput[${columnIndex}]">
                        <option value="utf8mb4_general_ci">utf8mb4_general_ci</option>
                        <option value="utf8mb4_unicode_ci">utf8mb4_unicode_ci</option>
                    </select>

                    <input type="checkbox" id="character-set-${columnIndex}" name="columnConstraintsInput[${columnIndex}]" value="CHARACTER SET">
                    <label for="character-set-${columnIndex}" class="checkbox-label">CHARACTER SET</label>
                    <select name="characterSetValueInput[${columnIndex}]">
                        <option value="utf8mb4">utf8mb4</option>
                        <option value="latin1">latin1</option>
                    </select>
                </div>
                <button type="button" onclick="deleteColumn(this)">Delete</button>
            `;
            document.getElementById("columns").appendChild(columnDiv);
        }

        function deleteColumn(button) {
            const columnDiv = button.parentElement;
            columnDiv.remove();
            reindexColumns();
        }

        function reindexColumns() {
            const columns = document.querySelectorAll(".column");
            columns.forEach((column, index) => {
                const constraints = column.querySelectorAll(".constraints input, .constraints select, .constraints label");
                constraints.forEach(constraint => {
                    if (constraint.tagName === "INPUT") {
                        updateNameAndId(constraint, index);
                    }
                    if (constraint.tagName === "SELECT") {
                        updateNameAndId(constraint, index);
                    }
                    if (constraint.tagName === "LABEL") {
                        updateFor(constraint, index);
                    }
                });
            });
        }

        function updateNameAndId(constraint, index) {
            const name = constraint.name;
            const nameBase = name.substring(0, name.indexOf("["));
            constraint.name = `${nameBase}[${index}]`;

            if (constraint.type === "checkbox") {
                const id = constraint.id;
                const idBase = id.substring(0, id.lastIndexOf("-"));
                constraint.id = `${idBase}-${index}`;
            }
        }

        function updateFor(label, index) {
            const labelFor = label.htmlFor;
            if (labelFor) {
                const labelForBase = labelFor.substring(0, labelFor.lastIndexOf("-"));
                label.htmlFor = `${labelForBase}-${index}`;
            }
        }

        function addRow() {
            const rowDiv = document.createElement("div");
            rowDiv.classList.add("row");
            rowDiv.innerHTML = `
                <input type="text" name="columnNameInput" placeholder="Col">
                <textarea name="columnValueInput" placeholder="Val e.g. a, b, c, d"></textarea>
                <button type="button" onclick="deleteRow(this)">Delete</button>
            `;
            document.getElementById("rows").appendChild(rowDiv);
        }

        function deleteRow(button) {
            const rowDiv = button.parentElement;
            rowDiv.remove();
        }

        function addTargetUpdate() {
            const dataUpdateDiv = document.createElement("div");
            dataUpdateDiv.classList.add("dataUpdate");
            dataUpdateDiv.innerHTML = `
                <input type="text" name="targetColInput" placeholder="Tgt Col">
                <input type="text" name="targetValueInput" placeholder="Tgt Col Val">
                <button type="button" onclick="deleteTargetUpdate(this)">Delete</button>
            `;
            document.getElementById("dataUpdates").appendChild(dataUpdateDiv);
        }

        function deleteTargetUpdate(button) {
            const dataUpdateDiv = button.parentElement;
            dataUpdateDiv.remove();
        }

        function addCondition() {
            const deleteConditionDiv = document.createElement("div");
            deleteConditionDiv.classList.add("deleteCondition");
            deleteConditionDiv.innerHTML = `
                <input type="text" name="columnInput" placeholder="Col">
                <select name="operatorInput">
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value=">">></option>
                    <option value="<="><=</option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                    <option value="LIKE">LIKE</option>
                    <option value="IN">IN</option>
                    <option value="NOT IN">NOT IN</option>
                    <option value="BETWEEN">BETWEEN</option>
                    <option value="IS NULL">IS NULL</option>
                    <option value="IS NOT NULL">IS NOT NULL</option>
                </select>
                <input type="text" name="valueInput" placeholder="Val">
                <select name="logicalOperatorInput">
                    <option value="AND">AND</option>
                    <option value="OR">OR</option>
                </select>
                <button type="button" onclick="deleteCondition(this)">Delete</button>
            `;
            document.getElementById("deleteConditions").appendChild(deleteConditionDiv);
        }

        function deleteCondition(button) {
            const conditionDiv = button.parentElement;
            conditionDiv.remove();
        }

        function addSortingElementColumn() {
            const sortingElementDiv = document.createElement("div");
            sortingElementDiv.classList.add("sorting-element");
            sortingElementDiv.innerHTML = `
                <input type="text" name="orderColumnNameInput" placeholder="Ord Col">
                <select name="sortingInput">
                    <option value="ASC">ASC</option>
                    <option value="DESC">DESC</option>
                </select>
                <button type="button" onclick="deleteSortingElementColumn(this)">Delete</button>
            `;
            document.getElementById("sorting-elements").appendChild(sortingElementDiv);
        }

        function deleteSortingElementColumn(button) {
            const sortingElementDiv = button.parentElement;
            sortingElementDiv.remove();
        }

        function addSelectSortingColumn() {
            const selectSortingColumnDiv = document.createElement("div");
            selectSortingColumnDiv.classList.add("select-sorting-column");
            selectSortingColumnDiv.innerHTML = `
                <input type="text" name="selectColumnNameInput" placeholder="Sel Col">
                <button type="button" onclick="deleteSelectSortingColumn(this)">Delete</button>
            `;
            document.getElementById("select-sorting-columns").appendChild(selectSortingColumnDiv);
        }

        function deleteSelectSortingColumn(button) {
            const selectSortingColumnDiv = button.parentElement;
            selectSortingColumnDiv.remove();
        }
        
        async function updateDBInfo() {
            const response = await fetch("{{ url_for('get_db_info') }}");
            const data = await response.json();
            const dbStatusDiv = document.getElementById("db-status");
            dbStatusDiv.innerText = data.db_status;
            dbStatusDiv.className = data.status_class;
            const tableListDiv = document.getElementById("table-list");
            tableListDiv.innerHTML = "";
            data.tables.forEach((table) => {
                const tableName = document.createElement("div");
                tableName.classList.add("table-name");
                tableName.innerText = table;
                tableName.onclick = () => loadTableData(table);
                tableListDiv.appendChild(tableName);
            });
        }
        
        async function loadTableData(tableName) {
            const response = await fetch(`{{ url_for('get_table_data', table_name='') }}${tableName}`);
            const data = await response.json();
            const tableDataDiv = document.getElementById("table-data");
            tableDataDiv.innerHTML = `<h3>${data.table_name}</h3>`;
            const tableTag = document.createElement("table");
            const trColTag = document.createElement("tr");
            data.column_names.forEach((column_name, index) => {
                const thColTag = document.createElement("th");
                thColTag.innerText = `${column_name} (${data.column_types[index]})`;
                trColTag.appendChild(thColTag);
            });
            tableTag.appendChild(trColTag);
            if (data.rows.length > 0) {
                data.rows.forEach((row) => {
                    const trDataTag = document.createElement("tr");
                    data.column_names.forEach((columnName) => {
                        const tdDataTag = document.createElement("td");
                        tdDataTag.innerText = row[columnName];
                        trDataTag.appendChild(tdDataTag);
                    });
                    tableTag.appendChild(trDataTag);
                });
            } else {
                const trNoDataTag = document.createElement("tr");
                const tdNoDataTag = document.createElement("td");
                tdNoDataTag.colSpan = data.column_names.length;
                tdNoDataTag.innerText = "No Data";
                trNoDataTag.appendChild(tdNoDataTag);
                tableTag.appendChild(trNoDataTag);
            }
            tableDataDiv.appendChild(tableTag);
        }

        document.querySelectorAll("form").forEach((form) => {
            if (
                form.id !== "joinForm" &&
                form.id !== "sortingForm" &&
                form.id !== "exportForm" &&
                form.id !== "umlForm"
            ) {
                form.addEventListener("submit", async function (event) {
                    event.preventDefault();
                    const formData = new FormData(form);
                    const response = await fetch(form.action, {
                        method: "POST",
                        body: formData
                    });
                    const data = await response.json();
                    document.getElementById("message").innerText = data.message;
                    if (data.query) {
                        document.getElementById("query-text").innerText = data.query;
                    }
                    updateDBInfo();
                });
            }
        });
        updateDBInfo();

        document.getElementById("joinForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            const response = await fetch(this.action, {
                method: "POST",
                body: formData
            });
            const data = await response.json();
            document.getElementById("message").innerText = data.message;
            if (data.query) {
                document.getElementById("query-text").innerText = data.query;
            }
            if (data.rows && data.column_names) {
                displayQueryResults(data.rows, data.column_names);
            }
        });

        function displayQueryResults(rows, column_names) {
            const tableDataDiv = document.getElementById("join-output");
            tableDataDiv.innerHTML = "";
            const tableTag = document.createElement("table");
            const theadTag = document.createElement("thead");
            const tbodyTag = document.createElement("tbody");

            const headerRow = document.createElement("tr");
            column_names.forEach(columnName => {
                const thTag = document.createElement("th");
                thTag.innerText = columnName;
                headerRow.appendChild(thTag);
            });
            theadTag.appendChild(headerRow);
            tableTag.appendChild(theadTag);

            if (rows.length > 0) {
                rows.forEach(row => {
                    const trTag = document.createElement("tr");
                    column_names.forEach(columnName => {
                        const tdTag = document.createElement("td");
                        tdTag.innerText = row[columnName];
                        trTag.appendChild(tdTag);
                    });
                    tbodyTag.appendChild(trTag);
                });
            } else {
                const trNoDataTag = document.createElement("tr");
                const tdNoDataTag = document.createElement("td");
                tdNoDataTag.colSpan = column_names.length;
                tdNoDataTag.innerText = "No Data";
                trNoDataTag.appendChild(tdNoDataTag);
                tbodyTag.appendChild(trNoDataTag);
            }
            tableTag.appendChild(tbodyTag);
            tableDataDiv.appendChild(tableTag);
        }

        document.getElementById("sortingForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            const response = await fetch(this.action, {
                method: "POST",
                body: formData
            });
            const data = await response.json();
            document.getElementById("message").innerText = data.message;
            if (data.query) {
                document.getElementById("query-text").innerText = data.query;
            }
            if (data.rows && data.column_names) {
                displaySortingResults(data.rows, data.column_names);
            }
        });

        function displaySortingResults(rows, column_names) {
            const tableDataDiv = document.getElementById("sorting-output");
            tableDataDiv.innerHTML = "";
            const tableTag = document.createElement("table");
            const theadTag = document.createElement("thead");
            const tbodyTag = document.createElement("tbody");

            const headerRow = document.createElement("tr");
            column_names.forEach(columnName => {
                const thTag = document.createElement("th");
                thTag.innerText = columnName;
                headerRow.appendChild(thTag);
            });
            theadTag.appendChild(headerRow);
            tableTag.appendChild(theadTag);

            if (rows.length > 0) {
                rows.forEach(row => {
                    const trTag = document.createElement("tr");
                    column_names.forEach(columnName => {
                        const tdTag = document.createElement("td");
                        tdTag.innerText = row[columnName];
                        trTag.appendChild(tdTag);
                    });
                    tbodyTag.appendChild(trTag);
                });
            } else {
                const trNoDataTag = document.createElement("tr");
                const tdNoDataTag = document.createElement("td");
                tdNoDataTag.colSpan = column_names.length;
                tdNoDataTag.innerText = "No Data";
                trNoDataTag.appendChild(tdNoDataTag);
                tbodyTag.appendChild(trNoDataTag);
            }
            tableTag.appendChild(tbodyTag);
            tableDataDiv.appendChild(tableTag);
        }
        document.getElementById("exportForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(this);

            try {
                const response = await fetch(this.action, {
                    method: "POST",
                    body: formData
                });

                if (response.ok) {
                    const blob = await response.blob();
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.style.display = "none";
                    a.href = url;
                    a.download = `${formData.get("exportTableNameInput")}.xlsx`;
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                } else {
                    const errorMessage = "Failed: Unexistent Table or Unexpected Error";
                    document.getElementById("message").innerText = errorMessage;
                }
            } catch (error) {
                const errorMessage = "Failed: Network Error";
                document.getElementById("message").innerText = errorMessage;
            }
        });

        document.getElementById("umlForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            const response = await fetch(this.action, {
                method: "POST",
                body: formData
            });
            const data = await response.json();
            document.getElementById("message").innerText = data.message;
            if (data.uml) {
                document.getElementById("uml-text").innerText = data.uml;
            }
        });

        window.onbeforeunload = function () {
            navigator.sendBeacon('/dispose_db');
        };
        
    </script>
</body>
</html>